@charset "UTF-8";
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BlackItalic.eot");
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), url("../fonts/Rubik-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-BlackItalic.woff2") format("woff2"), url("../fonts/Rubik-BlackItalic.woff") format("woff"), url("../fonts/Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BoldItalic.eot");
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("../fonts/Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-BoldItalic.woff2") format("woff2"), url("../fonts/Rubik-BoldItalic.woff") format("woff"), url("../fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic.eot");
  src: local("Rubik Italic"), local("Rubik-Italic"), url("../fonts/Rubik-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Italic.woff2") format("woff2"), url("../fonts/Rubik-Italic.woff") format("woff"), url("../fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.eot");
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("../fonts/Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../fonts/Rubik-MediumItalic.woff") format("woff"), url("../fonts/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.eot");
  src: local("Rubik Regular"), local("Rubik-Regular"), url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Black.eot");
  src: local("Rubik Black"), local("Rubik-Black"), url("../fonts/Rubik-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Black.woff2") format("woff2"), url("../fonts/Rubik-Black.woff") format("woff"), url("../fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.eot");
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-LightItalic.eot");
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("../fonts/Rubik-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-LightItalic.woff2") format("woff2"), url("../fonts/Rubik-LightItalic.woff") format("woff"), url("../fonts/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 0.69444444vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #171e2f;
  background-color: #ffffff;
  font-size: 3rem;
}

body.lock {
  overflow: hidden;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 120.4rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.5625vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 4.8rem;
    width: 100%;
  }
  .container--sm {
    width: 100%;
  }
}
.header {
  margin-bottom: 3.9rem;
  position: relative;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8rem;
}
.header__logo {
  width: 9.7rem;
  height: 2rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav ul li {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(48, 48, 48);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__nav ul li:not(:last-child) {
  margin-right: 4.8rem;
}
.header__nav ul li.active::before {
  content: "";
  width: 100%;
  height: 0.4rem;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  border-radius: 0px 0px 0.7rem 0.7rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__favorites {
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  margin-right: 1.4rem;
}
.header__favorites img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__favorites span {
  width: 1.36rem;
  height: 1.36rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(30%, -10%);
          transform: translate(30%, -10%);
  z-index: 1;
}
.header__profile {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(236, 239, 252);
}
.header__profile img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__log-in {
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #FF007A;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-right: 1.1rem;
}
.header__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14rem;
  height: 3.7rem;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
          box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
  border-radius: 4.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.profile {
  margin-bottom: 10rem;
}
.profile__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile__info {
  width: 25.2rem;
  padding: 2.5rem 0 3rem 1.3rem;
  background: #FAFBFC;
  border-radius: 1.2rem;
  margin-right: 2.8rem;
  height: 48.8rem;
}
.profile__name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  padding-left: 1.8rem;
}
.profile__name-wrap img {
  width: 1.74rem;
  height: 1.74rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.profile__name-wrap.right {
  padding-left: 0;
  margin-bottom: 0;
}
.profile__name {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  position: relative;
  margin-right: 0.67rem;
}
.profile .menu-item-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile .menu-item-open img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.4rem;
}
.profile__tablinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding: 1.6rem 1.5rem 1.1rem 1.5rem;
  cursor: pointer;
  position: relative;
}
.profile__tablinks .icon {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.4rem;
}
.profile__tablinks.active {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
          box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
  border-radius: 0.4rem 0px 0px 0.4rem;
}
.profile__tablinks.active::after {
  content: "";
  width: 0.3rem;
  height: 100%;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  border-radius: 0.7rem 0px 0 0.7rem;
  position: absolute;
  top: 0;
  right: 0;
}
.profile__tablinks.submenu.active {
  display: block;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  padding: 0;
}
.profile__tablinks.submenu.active::after {
  content: none;
}
.profile__tablinks.submenu.active .menu-item-open {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
          box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
  border-radius: 0.4rem 0px 0px 0.4rem;
  padding: 1.6rem 1.5rem;
}
.profile__tablinks.submenu.active .menu-item-open::after {
  content: "";
  width: 0.3rem;
  height: 5.2rem;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  border-radius: 0.7rem 0px 0 0.7rem;
  position: absolute;
  top: 0;
  right: 0;
}
.profile__tablinks.submenu.active .profile__tablinks-submenu {
  display: block;
  padding: 1.4rem 1.4rem 1.8rem 6.2rem;
}
.profile__tablinks.submenu.active .profile__tablinks-submenu li {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(94, 94, 94);
}
.profile__tablinks.submenu.active .profile__tablinks-submenu li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.profile__tablinks-submenu {
  display: none;
}
.profile__content {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0.4rem 2.4rem rgba(28, 40, 105, 0.1);
          box-shadow: 0px 0.4rem 2.4rem rgba(28, 40, 105, 0.1);
  border-radius: 0.8rem;
  padding-top: 2.8rem;
  width: 92.4rem;
}
.profile__my-profile {
  display: none;
}
.profile__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}
.profile__personal-left {
  padding-left: 2.2rem;
  width: 33.3rem;
  margin-right: 2.8rem;
}
.profile__personal-img {
  width: 100%;
  height: 23.7rem;
  border-radius: 0.9rem;
  margin-bottom: 2.58rem;
}
.profile__personal-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.profile__stars-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3rem;
}
.profile__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.5rem;
}
.profile__stars img {
  width: 11.2rem;
  height: 1.9rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile__rate-value {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.profile__rate-key {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(141, 141, 141);
}
.profile__rate-key:not(:last-child) {
  margin-bottom: 1.2rem;
}
.profile__rate-key:last-child {
  margin-bottom: 2.7rem;
}
.profile__personal-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.2rem;
}
.profile__personal-social a:not(:last-child) {
  margin-right: 3.5rem;
}
.profile__personal-social a img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile__personal-right {
  width: 49rem;
}
.profile__name-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}
.profile__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-right: 0.95rem;
  position: relative;
  padding-bottom: 0.7rem;
}
.profile__edit img {
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 0.5rem;
}
.profile__edit:before {
  content: "";
  width: 0;
  height: 0.1rem;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile__edit:hover:before {
  content: "";
  width: 100%;
}
.profile__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(130, 139, 189);
  margin-bottom: 1.3rem;
}
.profile__location img {
  width: 1.9rem;
  height: 1.9rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.3rem;
}
.profile__description {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(94, 94, 94);
  line-height: 1.45;
  letter-spacing: 0.18px;
  width: 44.9rem;
  padding-bottom: 1.7rem;
  border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
  margin-bottom: 2.3rem;
}
.profile__description-items {
  padding-bottom: 2.7rem;
  border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
  margin-bottom: 2.5rem;
  padding-left: 0.3rem;
  width: 44.9rem;
}
.profile__description-items ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(94, 94, 94);
}
.profile__description-items ul li:not(:last-child) {
  margin-bottom: 2.3rem;
}
.profile__description-items ul li img {
  width: 1.4rem;
  height: 1.4rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.6rem;
}
.profile__price-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 2rem;
  padding-bottom: 3.4rem;
  border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
  width: 44.9rem;
}
.profile__price-key {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(94, 94, 94);
  margin-bottom: 0.5rem;
}
.profile__price-value {
  font-size: 2.5rem;
  font-weight: 500;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.profile__portfolio {
  margin-bottom: 16rem;
}
.profile__portfolio-title {
  font-size: 2.3rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  padding-left: 2.6rem;
  margin-bottom: 3rem;
}
.profile__portfolio-slider {
  overflow: hidden;
  position: relative;
}
.profile__portfolio-slide {
  height: 24rem;
  position: relative;
  padding: 1.8rem 1.6rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile__portfolio-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.profile__portfolio-slide:hover {
  background: rgba(0, 0, 0, 0.28);
}
.profile__portfolio-slide:hover .profile__portfolio-slide-text {
  opacity: 1;
}
.profile__portfolio-slide:hover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
.profile__portfolio-slide-text {
  margin-top: auto;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.profile__portfolio-cake-name {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 0.6rem;
}
.profile__portfolio-cake-price {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.profile__wrapper {
  padding: 2.8rem 2.2rem;
}
.profile .slider-arrow-next {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  z-index: 100;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.profile .slider-arrow-next img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile .slider-arrow-prev {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 2rem;
  z-index: 100;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.profile .slider-arrow-prev img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  padding-top: 5.1rem;
  -webkit-box-shadow: 0.8rem -0.2rem 4.8rem rgba(0, 0, 0, 0.03);
          box-shadow: 0.8rem -0.2rem 4.8rem rgba(0, 0, 0, 0.03);
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8.65rem;
}
.footer__logo {
  width: 14.5rem;
  height: 2rem;
  margin-right: 5.8rem;
}
.footer__logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__info-block {
  margin-right: 6rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer__info-block a {
  color: #0A142F;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer__info-block a:hover {
  color: rgb(255, 0, 122);
}
.footer__info-block a:not(:last-child) {
  margin-bottom: 2.9rem;
}
.footer__nav-block {
  margin-right: 6.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #0A142F;
}
.footer__nav-block ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer__nav-block ul li:hover {
  color: rgb(255, 0, 122);
}
.footer__nav-block ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
}
.footer__social a {
  width: 3.3rem;
  height: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__social a svg {
  height: 2.2rem;
  width: 2.2rem;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #585858;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer__social a:not(:last-child) {
  margin-right: 1rem;
}
.footer__social a:hover svg {
  fill: rgb(255, 0, 122);
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4.9rem;
}
.footer__small {
  font-size: 1.4rem;
  font-weight: 500;
  color: #0A142F;
  opacity: 0.65;
}
.footer__small span {
  text-transform: uppercase;
}
.footer__up {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  z-index: 10;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.footer__up img {
  width: 1.2rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__up.show {
  opacity: 1;
  visibility: visible;
}

.confectioners-banner {
  margin-bottom: 5.4rem;
}
.confectioners-banner__inner {
  height: 47.2rem;
  position: relative;
  padding: 10.3rem 7rem 3rem 7.3rem;
}
.confectioners-banner__inner > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.confectioners-banner__title {
  font-size: 4.1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}
.confectioners-banner__subtitle {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(68, 68, 68);
  width: 40rem;
  line-height: 1.25;
}

.confectioners {
  margin-bottom: 12rem;
}
.confectioners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.confectioners__filter-block {
  width: 30.2rem;
  margin-right: 3rem;
}
.confectioners__content {
  width: 87.3rem;
}
.confectioners__items {
  margin-bottom: 5rem;
}
.confectioners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 24px rgba(28, 40, 105, 0.1);
          box-shadow: 0px 4px 24px rgba(28, 40, 105, 0.1);
  border-radius: 0.8rem;
  padding: 1rem 2.9rem 2.6rem 2.6rem;
}
.confectioners__item:not(:last-child) {
  margin-bottom: 4rem;
}
.confectioners__item-photo {
  width: 36.4rem;
  margin-right: 2.6rem;
}
.confectioners__item-photo-main {
  width: 100%;
  height: 28rem;
  overflow: hidden;
  margin-bottom: 1.8rem;
  position: relative;
}
.confectioners__item-photo-main img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.confectioners__item-thumbs {
  overflow: hidden;
  width: 100%;
}
.confectioners__item-thumbs-slide {
  height: 8.7rem;
  cursor: pointer;
}
.confectioners__item-thumbs-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.confectioners__arrow-prev {
  width: 1.5rem;
  height: 1.6rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.confectioners__arrow-prev img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.confectioners__arrow-next {
  width: 1.5rem;
  height: 1.6rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.confectioners__arrow-next img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.confectioners__info {
  width: 41.9rem;
}
.confectioners__name-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.confectioners__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(130, 139, 189);
  margin-bottom: 1.5rem;
}
.confectioners__location img {
  width: 1.9rem;
  height: 1.9rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.5rem;
}
.confectioners__description {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(94, 94, 94);
  line-height: 1.45;
  letter-spacing: 0.18px;
  width: 95%;
  margin-bottom: 2.1rem;
}
.confectioners__description-items {
  margin-bottom: 2.5rem;
  padding-left: 0.3rem;
  width: 100%;
  margin-bottom: 6.6rem;
}
.confectioners__description-items ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(94, 94, 94);
}
.confectioners__description-items ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.confectioners__description-items ul li img {
  width: 1.4rem;
  height: 1.4rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.8rem;
}
.confectioners__stars-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3rem;
}
.confectioners__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.5rem;
}
.confectioners__stars img {
  width: 11.2rem;
  height: 1.9rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.confectioners__rate-value {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.confectioners__rate-key {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(141, 141, 141);
}
.confectioners__rate-key:not(:last-child) {
  margin-bottom: 1.2rem;
}
.confectioners__rate-key:last-child {
  margin-bottom: 2.7rem;
}
.confectioners__name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.7rem;
}
.confectioners__name-wrap img {
  width: 1.74rem;
  height: 1.74rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.confectioners__name {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  position: relative;
  margin-right: 0.67rem;
}
.confectioners__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.confectioners .btn--more {
  margin-right: 2rem;
}
.filter-block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0.4rem 2.8rem rgba(36, 64, 117, 0.06);
          box-shadow: 0px 0.4rem 2.8rem rgba(36, 64, 117, 0.06);
  border-radius: 0.9rem;
  padding: 2rem 3rem 5rem 3.3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.filter-block__title {
  font-size: 2.4rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 2.7rem;
}
.filter-block__filtes {
  margin-bottom: 4rem;
}
.filter-block__item:not(:last-child) {
  margin-bottom: 2.9rem;
}
.filter-block__item-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
}
.filter-block__item-title.select-title {
  margin-bottom: 1rem;
}
.filter-block__radiobutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(94, 94, 94);
  cursor: pointer;
}
.filter-block__radiobutton input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter-block__radiobutton input:checked + .radiobutton-style::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}
.filter-block__radiobutton .radiobutton-style {
  position: relative;
  margin-right: 1.4rem;
  padding-left: 1.5rem;
}
.filter-block__radiobutton .radiobutton-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #FF007A;
}
.filter-block__radiobutton:not(:last-child) {
  margin-bottom: 2.8rem;
}
.filter-block__btn {
  width: 100%;
  margin-bottom: 1.6rem;
}
.filter-block__btn-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.filter-block__btn-reset span {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(130, 130, 130);
  border-bottom: 0.1rem solid rgb(130, 130, 130);
  margin-right: 1rem;
}
.filter-block__btn-reset img {
  width: 1.1rem;
  height: 1.1rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.dropdown {
  width: 100%;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  height: 100%;
  color: rgb(94, 94, 94);
  cursor: pointer;
}
.dropdown:focus-visible {
  border: none;
  outline: none;
}
.dropdown img {
  width: 1rem;
  height: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dropdown .select {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(94, 94, 94);
  display: block;
  padding: 1rem 1.5rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0.8rem rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 0.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.3rem;
  position: relative;
}
.dropdown .select:focus-visible {
  border: none;
  outline: none;
}
.dropdown .input-search {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2rem;
  padding: 1rem;
  color: #ffffff;
}
.dropdown .dropdown-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 5rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0.8rem rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 0.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.3rem;
  z-index: 10;
  padding: 1rem 1.5rem;
  max-height: 15rem;
  overflow-y: scroll;
  display: none;
  scrollbar-color: #FF007A rgb(232, 232, 232); /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}
.dropdown .dropdown-menu::-webkit-scrollbar {
  width: 0.6rem; /* ширина для вертикального скролла */
  background-color: rgb(232, 232, 232);
}
.dropdown .dropdown-menu::-webkit-scrollbar-thumb {
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  border-radius: 2rem;
}
.dropdown .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #FF007A;
}
.dropdown .dropdown-menu li {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(94, 94, 94);
}
.dropdown .dropdown-menu li:not(:last-child) {
  margin-bottom: 1rem;
}
.dropdown .dropdown-menu li:hover {
  font-weight: 500;
}
.dropdown.active img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
          box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
  border-radius: 4.4rem;
  padding: 1.5rem;
}
.btn.btn--more {
  position: relative;
  width: 24rem;
  padding: 1rem;
  height: 4.4rem;
  border-radius: 4.4rem;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-filter: drop-shadow(0px 10px 23px rgba(150, 146, 144, 0.15));
          filter: drop-shadow(0px 10px 23px rgba(150, 146, 144, 0.15));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn.btn--more::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #fff;
  border-radius: 4.4rem;
}
.btn.btn--more span {
  font-size: 1.8rem;
  font-weight: 500;
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  z-index: 1;
  margin-right: 0.6rem;
}
.btn.btn--more img {
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn.btn--more:hover img {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}
.btn.btn--save {
  background: transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1rem;
  height: 100%;
  border-radius: 0;
  -webkit-filter: none;
          filter: none;
}
.btn.btn--save span {
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  white-space: nowrap;
  margin-right: 0.6rem;
  font-size: 1.8rem;
}
.btn.btn--save img {
  width: 1.7rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn.btn--save:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__btn-prev {
  width: 3.2rem;
  height: 3.2rem;
  background: #FFFFFF;
  border: 1px solid #DFE3E8;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.8rem;
}
.pagination__btn-prev svg {
  width: 1.5rem;
  height: 1.1rem;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #C4CDD5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pagination__btn-prev.active svg {
  fill: #96A0A9;
}
.pagination__btn-next {
  width: 3.2rem;
  height: 3.2rem;
  background: #FFFFFF;
  border: 1px solid #DFE3E8;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__btn-next svg {
  width: 1.5rem;
  height: 1.1rem;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #C4CDD5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pagination__btn-next.active svg {
  fill: #96A0A9;
}
.pagination__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination__item {
  width: 3.2rem;
  height: 3.2rem;
  background: #DFE3E8;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #5E5E5E;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  margin-right: 0.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.pagination__item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #fff;
  border-radius: 0.3rem;
}
.pagination__item span {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pagination__item.active {
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  color: #FF8A00;
}
.pagination__item.active span {
  background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mobile {
  display: none;
}

@media (max-width: 48em) {
  .mobile {
    display: block;
  }
  .desctop {
    display: none;
  }
  .header__burger-btn {
    height: 5.4rem;
    width: 5rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header__logo {
    font-size: 2.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 20rem;
    height: 4rem;
  }
  .header__favorites {
    width: 4rem;
    height: 4rem;
    margin-right: 2.4rem;
  }
  .header__favorites span {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(30%, -10%);
            transform: translate(30%, -10%);
    z-index: 1;
  }
  .header__profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #ffffff;
  }
  .header__profile img {
    width: 100%;
    height: 100%;
  }
  .header__nav {
    padding: 10rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    position: absolute;
    background: #FAFBFC;
    -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.11);
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow-y: scroll;
  }
  .header__nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav ul li {
    font-size: 3.6rem;
    font-weight: 500;
    color: rgb(48, 48, 48);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header__nav ul li:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 6.4rem;
  }
  .header__nav ul li.active::before {
    content: none;
  }
  .header__nav .header__burger-btn {
    position: absolute;
    top: 8rem;
    right: 5.2rem;
    z-index: 100;
  }
  .profile__inner {
    position: relative;
    margin-bottom: 12.6rem;
  }
  .profile__info {
    padding: 4.8rem 2rem 6rem 6rem;
    border-radius: 2.4rem;
    margin-right: 0;
    height: 100%;
    min-height: 70rem;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow-y: scroll;
  }
  .profile__info.active {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .profile__btn.mobile {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 11px rgba(15, 31, 55, 0.08);
            box-shadow: 0px 0px 11px rgba(15, 31, 55, 0.08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 3.6rem;
    right: 3.6rem;
    z-index: 11;
  }
  .profile__btn.mobile img {
    width: 2rem;
    height: 2rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .profile__name-wrap {
    margin-bottom: 6rem;
    padding-left: 0;
  }
  .profile__name-wrap img {
    width: 3.4rem;
    height: 3.4rem;
  }
  .profile__name {
    font-size: 4rem;
    margin-right: 1.25rem;
  }
  .profile .menu-item-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile .menu-item-open .icon {
    width: 3.6rem;
    height: 3.6rem;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 2.8rem;
  }
  .profile .menu-item-open .arrow {
    width: 1rem;
    height: 2rem;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 2rem;
  }
  .profile__tablinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
    padding: 0;
    position: relative;
  }
  .profile__tablinks:not(:last-child) {
    margin-bottom: 5.9rem;
  }
  .profile__tablinks .icon {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 2.8rem;
  }
  .profile__tablinks .arrow {
    width: 1.5rem;
    height: 2rem;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 3rem;
  }
  .profile__tablinks.active {
    background: rgb(250, 251, 252);
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  .profile__tablinks.active::after {
    content: none;
  }
  .profile__tablinks.submenu.active {
    display: block;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    padding: 0;
  }
  .profile__tablinks.submenu.active::after {
    content: none;
  }
  .profile__tablinks.submenu.active .menu-item-open {
    background: rgb(250, 251, 252);
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    padding: 0;
  }
  .profile__tablinks.submenu.active .menu-item-open::after {
    content: none;
  }
  .profile__tablinks.submenu.active .profile__tablinks-submenu {
    display: block;
    padding: 4rem 1.4rem 0rem 6.2rem;
  }
  .profile__tablinks.submenu.active .profile__tablinks-submenu li {
    font-size: 2.8rem;
  }
  .profile__tablinks.submenu.active .profile__tablinks-submenu li:not(:last-child) {
    margin-bottom: 3.8rem;
  }
  .profile__content {
    background: #FFFFFF;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    padding-top: 2.8rem;
    width: 100%;
  }
  .profile__personal {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0.8rem 4.8rem rgba(28, 40, 105, 0.1);
            box-shadow: 0px 0.8rem 4.8rem rgba(28, 40, 105, 0.1);
    border-radius: 1.3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 7.5rem;
    padding: 2.6rem 2rem 7rem 2rem;
  }
  .profile__personal-left {
    padding-left: 0;
    width: 100%;
    margin-right: 0;
  }
  .profile__personal-img {
    width: 100%;
    height: 38.4rem;
    border-radius: 0rem;
    margin-bottom: 4rem;
  }
  .profile__stars-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .profile__stars {
    margin-right: 4rem;
  }
  .profile__stars img {
    width: 23.4rem;
    height: 4rem;
  }
  .profile__rate-value {
    font-size: 2.8rem;
  }
  .profile__rate-key {
    font-size: 2.8rem;
  }
  .profile__rate-key:not(:last-child) {
    margin-bottom: 2rem;
  }
  .profile__rate-key:last-child {
    padding-bottom: 4.2rem;
    margin-bottom: 7.2rem;
    border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
  }
  .profile__personal-social {
    padding-left: 3rem;
  }
  .profile__personal-social a:not(:last-child) {
    margin-right: 7rem;
  }
  .profile__personal-social a img {
    width: 4rem;
    height: 4rem;
  }
  .profile__personal-right {
    width: 49rem;
  }
  .profile__name-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.6rem;
    padding-left: 0.5rem;
    letter-spacing: 1px;
  }
  .profile__edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.2rem;
    margin: 0 auto 4.6rem auto;
  }
  .profile__edit img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
  }
  .profile__edit:before {
    content: "";
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .profile__edit.desctop {
    display: none;
  }
  .profile__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.8rem;
    margin-bottom: 0rem;
  }
  .profile__location img {
    width: 2.2rem;
    height: 2.5rem;
    margin-right: 1rem;
  }
  .profile__location.desctop {
    display: none;
  }
  .profile__description {
    font-size: 2.8rem;
    width: 100%;
    padding-bottom: 3rem;
    margin-bottom: 4.5rem;
    padding-left: 1.5rem;
    font-weight: 400;
  }
  .profile__description-items {
    padding-bottom: 5.4rem;
    margin-bottom: 3.4rem;
    padding-left: 1.5rem;
    width: 100%;
  }
  .profile__description-items ul li {
    font-size: 2.8rem;
  }
  .profile__description-items ul li:not(:last-child) {
    margin-bottom: 4.5rem;
  }
  .profile__description-items ul li img {
    width: 2.6rem;
    height: 2rem;
    margin-right: 3.2rem;
  }
  .profile__price-wrap {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
    row-gap: 4rem;
    padding-bottom: 3.2rem;
    margin-bottom: 5rem;
    width: 100%;
    padding-left: 2rem;
  }
  .profile__price-key {
    font-size: 2.8rem;
  }
  .profile__price-value {
    font-size: 5rem;
  }
  .profile__rate-wrap {
    padding-left: 2rem;
  }
  .profile__portfolio {
    margin-bottom: 0rem;
  }
  .profile__portfolio-title {
    font-size: 4.6rem;
    padding-left: 0rem;
    margin-bottom: 4.4rem;
  }
  .profile__portfolio-slider {
    overflow: hidden;
    position: relative;
  }
  .profile__portfolio-slide {
    height: 42.4rem;
    padding: 3rem;
    border-radius: 0.8rem;
  }
  .profile__portfolio-slide img {
    border-radius: inherit;
  }
  .profile__portfolio-slide:not(:last-child) {
    margin-bottom: 3.2rem;
  }
  .profile__portfolio-slide .desctop {
    display: none;
  }
  .profile__portfolio-slider-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile__portfolio-slide-text {
    margin-top: auto;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .profile__portfolio-cake-name {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 0.6rem;
  }
  .profile__portfolio-cake-price {
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .profile__wrapper {
    padding: 2.8rem 2.2rem;
  }
  .profile .slider-arrow-next {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 100;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  .profile .slider-arrow-next img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .profile .slider-arrow-prev {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 100;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  .profile .slider-arrow-prev img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5.2rem;
  }
  .footer__logo {
    width: 25rem;
    height: 4rem;
    margin-right: 0rem;
    margin-bottom: 7.2rem;
  }
  .footer__info-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info-block {
    margin-right: 0rem;
    font-size: 3.2rem;
    margin-bottom: 9.6rem;
  }
  .footer__info-block a:not(:last-child) {
    margin-bottom: 3.4rem;
  }
  .footer__nav-block {
    margin-right: 0rem;
    font-size: 3.2rem;
    margin-bottom: 7rem;
  }
  .footer__nav-block ul li:not(:last-child) {
    margin-bottom: 6.4rem;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: start;
  }
  .footer__social a {
    width: 6.6rem;
    height: 6.6rem;
  }
  .footer__social a svg {
    height: 4.4rem;
    width: 4.4rem;
  }
  .footer__social a:not(:last-child) {
    margin-right: 2rem;
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 4.9rem;
  }
  .footer__small {
    font-size: 2.4rem;
  }
  .footer__up {
    width: 10.4rem;
    height: 10.4rem;
    bottom: 10rem;
    right: 5rem;
    z-index: 2;
  }
  .footer__up img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .confectioners-banner {
    position: relative;
  }
  .confectioners__inner {
    display: block;
  }
  .confectioners__filter-open-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.2rem;
    font-weight: 500;
    color: rgb(94, 94, 94);
    margin-bottom: 4.2rem;
  }
  .confectioners__filter-open-btn img {
    width: 3.6rem;
    height: 2rem;
    margin-right: 2rem;
  }
  .confectioners__content {
    width: 100%;
  }
  .confectioners__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .confectioners__item-photo {
    width: 100%;
  }
  .filter-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 10;
    overflow-y: scroll;
    height: auto;
    margin-right: 0;
  }
  .filter-block.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */