.board {
    margin-bottom: 10rem;

    &__title {
        font-size: 2.9rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 4.3rem;
    }

    &__content {
        display: flex;

        .filter-block {
            width: 30.2rem;
            margin-right: 2.5rem;
            padding: 2.9rem 3rem 5rem 3.3rem;
        }

        .filter-block__title {
            font-weight: 600;
        }

        .filter-block__item-title {
            font-weight: 600;
        }

        .filter-block__btn.btn {
            height: 4.5rem;
        }
    }

    &__items {
        margin-bottom: 5rem;

        .confectioners__item-photo {
            width: 36.4rem;
            height: 30.9rem;
        }

        .confectioners__item-photo-main {
            width: 100%;
            height: 100%;
            margin-bottom: 0;
        }

        .confectioners__name-wrap {
            line-height: 1;
            align-items: center;
        }

        .confectioners__name-wrap img {
            width: 2rem;
            height: 100%;
            padding-bottom: 0.5rem;
        }

        .confectioners__name {
            font-size: 1.9rem;
        }

        .confectioners__name-top {
            margin-bottom: 1.5rem;
        }

        .confectioners__btns {
            justify-content: space-between;
        }

        .btn.btn--more {
            width: 20rem;
            // margin-right: 5rem;
        }

        .confectioners__item:not(:last-child) {
            margin-bottom: 2.2rem;
        }

        .confectioners__description {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .confectioners__info-value span {
            font-size: 2rem;
        }

        .btn.btn--more::before {
            inset: 1px;
        }

        .btn.btn--save span {
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
}

.board.find .board{
    
    &__find-conf {
        width: 30.2rem;
        margin-right: 1.9rem;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        border-radius: 0.9rem;
        padding: 2.7rem 2rem;
        min-height: 22.8rem;
        height: 100%;

        display: flex;
        flex-direction: column;
    }
    
    &__find-conf-text {
        margin-bottom: 2rem;
    }
    
    &__find-conf-title {
        font-size: 2.6rem;
        font-weight: 500;
        color: #FFFFFF;
        margin-bottom: 1.4rem;
    }
    
    &__find-conf-subtitle {
        font-size: 1.4rem;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 1.428;
    }
    
    &__find-conf-btn {
        font-size: 1.6rem;
        font-weight: 500;
        color: #F2F2F2;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;

        border: 0.14rem solid #F2F2F2;
        filter: drop-shadow(0 1rem 2.3rem rgba(150, 146, 144, 0.15));
        border-radius: 4.4rem;
        margin-top: auto;
    }
}

@media (max-width: 48em) {

    .board {
        margin-bottom: 15rem;

        &__title {
            font-size: 4.6rem;
            font-weight: 500;
            text-align: center;
            margin-bottom: 4.2rem;
        }

        &__content-block {
            width: 100%;
        }

        &__content {
            display: flex;

            .filter-block {
                width: 55rem;
                position: absolute;
                top: 20rem;
                margin-right: 0rem;
                border-radius: 1.8rem;
                padding: 0;

                &__inner {
                    box-shadow: 0px 8rem 5.6rem rgba(36, 64, 117, 0.06);
                    position: relative;
                    z-index: 100;
                    padding: 7.2rem 6rem 7.2rem;
                }

                .confectioners__filter-open-btn.close {
                    position: absolute;
                    top: 4.4rem;
                    right: 4.4rem;

                }

                .filter-block__title {
                    font-size: 4.4rem;
                }

                .filter-block__item-title {
                    font-size: 3.2rem;
                    margin-bottom: 3rem;
                }
            }
        }

        &__items {
            margin-bottom: 6rem;

            .confectioners__item {
                padding: 2.6rem 2rem 4rem 2rem;
            }

            .confectioners__item-photo {
                width: 100%;
                height: 38.4rem;
                margin-bottom: 5.2rem;
            }

            .confectioners__item-photo-main {
                margin-bottom: 5.4;
            }

            .confectioners__name {
                font-size: 3.6rem;
            }

            .confectioners__name-top {
                margin-bottom: 2.4rem;
            }

            .btn.btn--more {
                width: 100%;
                height: 8.8rem;
                margin-right: 0rem;
                margin-bottom: 3rem;

                span {
                    font-size: 3.6rem;
                    margin-right: 1rem;
                }

                img {
                    width: 3rem;
                    height: 2.5rem;
                }
            }

            .confectioners__description {
                margin-bottom: 3.4rem;
            }

            .confectioners__item:not(:last-child) {
                margin-bottom: 5rem;
            }

            .confectioners__btns {
                flex-direction: column;
            }

            .btn.btn--save {
                margin: 0 auto;

                span {
                    font-size: 3.2rem;
                    margin-right: 1rem;
                }

                img {
                    width: 3.4rem;
                    height: 3.4rem;
                }
            }
        }
    }



    .board.find .board{

        &__content {
            flex-direction: column;
        }
    
        &__find-conf {
            width: 100%;
            border-radius: 1.8rem;
            padding: 3.4rem 4.4rem;
            min-height: 33rem;
            height: 100%;
            margin-right: 0;
            margin-bottom: 4rem;
        }
        
        &__find-conf-title {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        
        &__find-conf-subtitle {
            font-size: 2.4rem;
        }
        
        &__find-conf-btn {
            font-size: 2.8rem;
            padding: 2rem;
    
            border: 0.28rem solid #F2F2F2;
            border-radius: 8.8rem;
        }
    }
}
