.confectioners-banner {
    margin-bottom: 5.4rem;
    
    
    &__inner {
        height: 47.2rem;
        position: relative;
        padding: 10.3rem 7rem 3rem 7.3rem;

        &>img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }
    
    &__text-block {
       
    
    }
    
    &__title {
        font-size: 4.1rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 1rem;
    }
    
    &__subtitle {
        font-size: 2rem;
        font-weight: 400;
        color: rgba(68, 68, 68, 1);
        width: 45rem;
        line-height: 1.25;
    }
}

.confectioners {

    &__inner {
        display: flex;
    }

    &__filter-block {
        width: 30.2rem;
    }

    &__content {
        width: 87.3rem;
    }
    &__item {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(28, 40, 105, 0.1);
        border-radius: 0.8rem;
        padding: 1.6rem 2.9rem 2.6rem 2.6rem;
    }
    &__item-photo {
        width: 36.4rem;
        margin-right: 2.6rem;
    }
    &__item-photo-main {
        width: 100%;
        height: 28rem;
        overflow: hidden;
        margin-bottom: 1.8rem;
        position: relative;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-thumbs {
        overflow: hidden;
        width: 100%;
    }

    &__item-thumbs-slide {
        height: 8.7rem;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__arrow-prev {
        width: 1.5rem;
        height: 1.6rem;
        cursor: pointer;

        img {
            height: 100%;
            object-fit: contain;
        }

        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        z-index: 1;
    }

    &__arrow-next {
        width: 1.5rem;
        height: 1.6rem;
        cursor: pointer;

        img {
            height: 100%;
            object-fit: contain;
        }

        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        z-index: 1;
    }

}



