.confectioners-banner {
    margin-bottom: 5.4rem;
    
    
    &__inner {
        height: 47.2rem;
        position: relative;
        padding: 10.3rem 7rem 3rem 7.3rem;

        &>img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }
    
    &__text-block {
        position: relative;

        &::before {
            content: "";
            height: 100%;
            width: 40%;
            background: #E7E5DC;
            filter: blur(5.2rem);

            position: absolute;
            left: 0;
            bottom: -40%;
        }
    }
    
    &__title {
        font-size: 4.1rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 1rem;
        position: relative;
        z-index: 1;
    }
    
    &__subtitle {
        font-size: 2rem;
        font-weight: 400;
        color: rgba(68, 68, 68, 1);
        width: 40rem;
        line-height: 1.25;
        position: relative;
        z-index: 1;
    }
}

.confectioners {
    margin-bottom: 12rem;

    &__inner {
        display: flex;
    }

    &__filter-block {
        width: 30.2rem;
        margin-right: 3rem;
    }

    &__content {
        width: 87.3rem;
    }
    &__items {
        margin-bottom: 5rem;
    }
    &__item {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(28, 40, 105, 0.1);
        border-radius: 0.8rem;
        padding: 2.6rem 2.9rem 2.6rem 2.6rem;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
    &__item-photo {
        width: 36.4rem;
        margin-right: 2.6rem;
    }
    &__item-photo-main {
        width: 100%;
        height: 28rem;
        overflow: hidden;
        margin-bottom: 1.8rem;
        position: relative;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-thumbs {
        overflow: hidden;
        width: 100%;
    }

    &__item-thumbs-slide {
        height: 8.7rem;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__arrow-prev {
        width: 1.5rem;
        height: 1.6rem;
        cursor: pointer;

        img {
            height: 100%;
            object-fit: contain;
        }

        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        z-index: 1;
    }

    &__arrow-next {
        width: 1.5rem;
        height: 1.6rem;
        cursor: pointer;

        img {
            height: 100%;
            object-fit: contain;
        }

        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        z-index: 1;
    }

    &__info {
        width: 41.9rem;
    }

    &__name-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__location {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(130, 139, 189, 1);
        margin-bottom: 1.5rem;

        img {
            width: 1.9rem;
            height: 1.9rem;
            object-fit: contain;
            margin-right: 0.5rem;
        }
    }

    &__description {
        font-size: 1.4rem;
        font-weight: 300;
        color: #5E5E5E;
        line-height: 1.45;
        letter-spacing: 0.18px;
        width: 95%;
        margin-bottom: 2.1rem;
    }

    &__description-items {
        margin-bottom: 2.5rem;
        padding-left: 0.3rem;
        width: 100%;
        margin-bottom: 6.6rem;

        ul {
            li {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                font-weight: 400;
                color: rgba(94, 94, 94, 1);

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                img {
                    width: 1.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    margin-right: 1.8rem;
                }
            }
        }
    }

    &__stars-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 1.3rem;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-right: 2.5rem;

        // img {
        //     width: 1.9rem;
        //     height: 1.9rem;
        //     object-fit: contain;

        //     &:not(:last-child) {
        //         margin-right: 0.6rem;
        //     }
        // }

        img {
            width: 11.2rem;
            height: 1.9rem;
            object-fit: contain;

            // &:not(:last-child) {
            //     margin-right: 0.6rem;
            // }
        }
    }

    &__rate-value {
        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
    }

    &__rate-key {
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba(141, 141, 141, 1);

        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }

        &:last-child {
            margin-bottom: 2.7rem;
        }
    }

    &__name-wrap {
        display: flex;
        align-items: center;
        padding-left: 0.7rem;

        img {
            width: 1.74rem;
            height: 1.74rem;
            object-fit: contain;
            flex-shrink: 0;
        }
    }

    &__name {
        font-size: 2.5rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        position: relative;
        margin-right: 0.67rem;
    }


    
    &__btns {
        display: flex;
        align-items: center;
    }
    
    
    .btn--more {
        margin-right: 2rem;
    }
    
    .btn--save {
    
    }

}



