.banner-main {
    height: 39.3rem;
    margin-bottom: 14.5rem;

    &__inner {
        height: 39.3rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;

        &>img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            border-radius: inherit;
        }
    }


    &__search {
        display: flex;
        align-items: center;
        width: 80rem;
        height: 5rem;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
        border-radius: 5px;
        position: relative;

        input {
            width: 100%;
            outline: none;
            border: none;
            padding: 0 5rem 0 3.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: #767676;
        }

        button {
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3rem;
            z-index: 2;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}


.base {
    position: relative;
    margin-bottom: 12rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 4rem;
    }

    &__text-block {
        width: 33.8rem;
        padding-right: 4rem;
        margin-right: 4rem;
        flex-shrink: 0;
    }

    &__title-wrap {
        margin-bottom: 1.2rem;

    }

    .title-wrap {
        display: flex;
        align-items: center;

    }

    &__title {
        font-size: 3.4rem;
        font-weight: 500;
        color: #000000;
        margin-right: 1.2rem;
    }

    &__title-img {
        background: linear-gradient(130.76deg, #FF5A2A 5.17%, #FF0D6F 105.06%);
        border-radius: 1.5rem 1.5rem 1.5rem 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 3.5rem;
        height: 3.2rem;

        img {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
        }
    }

    &__description {
        font-size: 1.6rem;
        font-weight: 400;
        color: #5E5E5E;
    }

    &__slider {
        width: 82rem;
        overflow: hidden;
        // padding: 0.4rem;
    }

    &__slider-wrapper {
        position: relative;
    }
    &__slider-block {
        box-shadow: rgb(28 40 105 / 10%) 0px 0rem 4rem;
        border-radius: 0.6rem;
        background: rgba(237, 237, 240, 0.6);
        border-radius: 0.6rem;
    }

    &__slide {
        background: #FFFFFF;
        // box-shadow: 0 0 4.5rem 0rem rgba(28, 40, 105, 0.1);
        border-radius: 0.6rem;
        padding: 2rem 2rem 2.7rem 2rem;

        &>img {
            height: 26.9rem;
            width: 100%;
            object-fit: cover;
            margin-bottom: 1rem;
        }
    }

    &__slide-rating {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 0.6rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;

            &:not(:last-child) {
                margin-right: 0.5rem;
            }
        }
    }

    &__slide-title {
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 1.4rem;
    }

    &__slide-subtitle {
        font-size: 1.4rem;
        font-weight: 400;
        color: #5D5D5D;
    }

    &__arrow-next {
        width: 5.8rem;
        height: 5.8rem;
        background: #FFFFFF;
        box-shadow: 0px 0.3rem 2.6rem rgba(150, 146, 144, 0.44);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 15.6rem;
        right: 0;
        z-index: 10;
        cursor: pointer;

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
        }
    }

    &__arrow-prev {
        width: 5.8rem;
        height: 5.8rem;
        background: #FFFFFF;
        box-shadow: 0px 3px 26px rgba(150, 146, 144, 0.44);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 35%;
        left: 2rem;
        z-index: 10;
        cursor: pointer;

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
        }
    }

    &__btn {
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
        border-radius: 4.4rem;
        width: 27.6rem;
        height: 5.8rem;
        margin: 0 0rem 0 auto;
        transition: 0.5s;

        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: end;
        position: relative;

        span {
            font-size: 1.8rem;
            font-weight: 500;
            color: #FFFFFF;
            margin-right: 1rem;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            transition: 0.4s;
        }

        &::after {
            content: "";
            width: 20.5rem;
            height: 3rem;
            background: rgba(255, 23, 78, 0.63);
            -webkit-filter: blur(5rem);
            filter: blur(5rem);
            position: absolute;
            bottom: 0rem;
            left: 2rem;
            z-index: -1;
        }

        &:hover {
            img {
                transform: translateX(0.5rem);
            }
        }
    }


}


.recipes-block {
    margin-bottom: 11rem;

    &__inner {}

    &__title {
        font-size: 3.4rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 3rem;
    }

    &__content {
        // display: grid;
        // grid-template-columns: 60.8rem 57.2rem;
        // column-gap: 2.3rem;
        // row-gap: 1.2rem;
        // grid-template-rows: auto;
        display: flex;
        // flex-wrap: wrap;
    }

    &__column {}

    &__box {
        position: relative;
        padding: 5rem 2.8rem;
        cursor: pointer;

        &>img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        &.one {
            width: 60.8rem;
            height: 33.7rem;
            margin-right: 2.3rem;
            margin-bottom: 1.2rem;
            padding: 4rem 5.8rem;
        }

        &.two {
            width: 60.8rem;
            height: 21.2rem;
            margin-right: 2.3rem;
            padding: 2.5rem 5.8rem;
        }

        &.three {
            width: 57.2rem;
            height: 27rem;
            margin-bottom: 1.2rem;
            padding: 4rem 2.8rem;
        }

        &.four {
            width: 57.2rem;
            height: 27.9rem;
            padding: 3rem 2.8rem;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(48, 54, 85, 0.73);

            position: absolute;
            inset: 0;
            z-index: 1;
            transition: 0.6s;
            opacity: 0;
        }


        &:hover {
            &::before {
                // height: 100%;
                opacity: 1;
            }

            .recipes-block__btn {
                opacity: 1;
            }
        }
    }

    &__box-title {
        font-size: 2.9rem;
        font-weight: 500;
        color: #000000;
        position: relative;
    }

    &__btn {
        width: 21.8rem;
        height: 4.4rem;
        padding: 0 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0.15rem solid #F2F2F2;
        filter: drop-shadow(0px 1rem 2.3rem rgba(150, 146, 144, 0.15));
        border-radius: 4.4rem;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        opacity: 0;
        z-index: 20;
        transition: 0.5s;

        span {
            font-size: 1.4rem;
            font-weight: 500;
            color: #FFFFFF;
            margin-right: 1rem;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }
}


.vacancies {
    margin-bottom: 14.4rem;

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.1rem;
    }

    &__title {
        font-size: 3.4rem;
        font-weight: 500;
        color: #000000;
    }

    &__link {
        display: flex;
        align-items: center;

        font-size: 1.8rem;
        font-weight: 500;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        img {
            width: 2rem;
            height: 1rem;
            object-fit: contain;
            margin-left: 1rem;
            transition: 0.4s;
        }

        &:hover {
            img {
                transform: translateX(0.5rem);
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }

    &__box {
        background: #FFFFFF;
        box-shadow: 0px 0.4rem 2.4rem rgba(28, 40, 105, 0.1);
        border-radius: 0.7rem;
        padding: 1.3rem 1.3rem 2.1rem 1.3rem;
        position: relative;
        z-index: 1;

        &>img {
            height: 26.9rem;
            width: 100%;
            object-fit: cover;
            margin-bottom: 1.1rem;
        }

    }

    &__box-author-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__box-author {
        font-size: 1.6rem;
        font-weight: 400;
        color: #62698F;
    }

    &__box-location-wrap {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: #828BBD;

        img {
            width: 1.8rem;
            height: 2rem;
            object-fit: contain;
            margin-right: 1rem;
        }
    }

    &__box-title {
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 0.9rem;

    }

    &__box-description {
        font-size: 1.6rem;
        font-weight: 400;
        color: #5E5E5E;
        line-height: 1.25;
        margin-bottom: 1.6rem;
    }

    &__box-link {
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.9rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
        border-radius: 4.4rem;
        padding: 1.5rem;
        transition: 0.3s;


        &.btn--more-link {
            position: relative;
            width: 24rem;
            padding: 1rem;
            height: 4.4rem;
            border-radius: 4.4rem;
            background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: "";
                position: absolute;
                inset: 1px;
                background: #fff;
                border-radius: 4.4rem;
                transition: 0.6s;
            }

            &::after {
                content: "";
                width: 20.5rem;
                height: 2rem;
                background: rgba(255, 23, 78, 0.63);
                filter: blur(5rem);

                position: absolute;
                z-index: -1;
                bottom: -1rem;
                left: 2rem;
                opacity: 0;
                transition: 0.4s;
            }

            span {
                font-size: 1.6rem;
                font-weight: 500;
                color: #FFFFFF;
                background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                position: relative;
                z-index: 1;
                margin-right: 0.6rem;
            }

            img {
                width: 1.5rem;
                height: 1.5rem;
                object-fit: contain;
                position: relative;
                z-index: 1;
                flex-shrink: 0;
                transition: 0.4s;


                &.hover {
                    display: none;
                    width: 1.8rem;
                    height: 1.2rem;
                }

                &.static {
                    display: block;
                }
            }

            &:hover {
                box-shadow: 0px 10px 23px rgba(150, 146, 144, 0.15);

                &::before {
                    opacity: 0;
                }

                span {
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #FFFFFF;
                    background: none;
                    -webkit-background-clip: #FFFFFF;
                    -webkit-text-fill-color :#FFFFFF;
                    background-clip: none;
                }

                img {
                    &.hover {
                        display: block;
                        width: 2rem;
                    }

                    &.static {
                        display: none;
                    }
                }

                &::after {
                    opacity: 1;
                }
            }
        }

    }
}


.courses {
    margin-bottom: 11.8rem;
    
    &__inner {
        display: flex;
        margin-bottom: 6.3rem;
    }
    
    &__left-block {
        margin-right: 2rem;
        width: 59.2rem;
        display: flex;
        flex-direction: column;

        .courses__img-block {
            height: 51.4rem;
        }
    }
    
    &__text-block {
        margin-bottom: 4rem;
    }
    
    &__title-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        
        img {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
        }
    }
    
    &__title {
        font-size: 3.4rem;
        font-weight: 500;
        color: #000000;
        margin-right: 1rem;
    }
    
    &__description {
        font-size: 1.6rem;
        font-weight: 400;
        color: #5E5E5E;
        width: 65%;
    }
    
    &__img-block {
        border-radius: 0.6rem;
        position: relative;
        padding: 5.2rem 5.7rem;
        margin-top: auto;

        &>img {
            position: absolute;
            inset: 0;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            border-radius: inherit;
        }
    }
    
    &__sticker {
        background: rgba(130, 139, 189, 0.11);
        border-radius: 0.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #828BBD;
        padding: 0.3rem 1.5rem;
        text-transform: uppercase;

        position: absolute;
        top: 2.6rem;
        right: 2.6rem;
    }

    &__box-title {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 1.4rem;
    }
    
    &__box-link {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 500;
        color: #333333;

        img {
            width: 1.5rem;
            height: 1rem;
            object-fit: contain;
            margin-left: 1rem;
            transition: all 0.3s;
        }

        &:hover {
            img {
                transform: translateX(0.5rem);
            }
        }
    }

    &__left-block {

        .courses__img-block {
            border-radius: 0;
        }
    }
    
    &__right-block {
        width: 59.2rem;
        display: flex;
        flex-direction: column;

        .courses__img-block {

            &:nth-child(1) {
                height: 39.9rem;
                margin-bottom: 1.8rem;
            }

            &:nth-child(2) {
                height: 25.6rem;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
        border-radius: 4.4rem;
        position: relative;

        width: 27.5rem;
        height: 5.8rem;

        font-size: 1.8rem;
        font-weight: 500;
        color: #FFFFFF;

        img {
            width: 1.8rem;
            height: 1.5rem;
            object-fit: contain;
            margin-left: 1rem;
            transition: 0.4s;
        }

        &::after {
            content: "";
            width: 20.5rem;
            height: 3rem;
            background: rgba(255, 23, 78, 0.63);
            filter: blur(5rem);

            position: absolute;
            bottom: -0rem;
            left: 2rem;
            z-index: -1;
        }

        &:hover {
            img {
                transform: translateX(0.5rem);
            }
        }
    }
}


.article {
    margin-bottom: 9.6rem;

    
    &__inner {
    
    }
    
    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5.8rem;
    }
    
    &__title {
        font-size: 3.4rem;
        font-weight: 500;
        color: #000000;
    }
    
    &__link {
        display: flex;
        align-items: center;

        span {
            font-size: 1.8rem;
            font-weight: 500;
            background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-right: 1rem;
        }

        img {
            width: 2.5rem;
            height: 1.3rem;
            object-fit: contain;
            transition: 0.4s;
        }

        &:hover {
            img {
                transform: translateX(0.5rem);
            }
        }
    
    }
    
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2.2rem;
    }
    
    &__box {

        &>img {
            height: 24.5rem;
            width: 100%;
            object-fit: cover;
            margin-bottom: 1.3rem;
            border-radius: 0.7rem;
        }


        &:nth-child(2) {
            &>img {
                height: 31.7rem;
            }
        }
    }
    
    &__box-info-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.6rem;
    }
    
    &__box-sticker {
        background: rgba(130, 139, 189, 0.11);
        border-radius: 0.2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem 1.2rem;

        font-size: 1.6rem;
        font-weight: 400;
        color: #828BBD;
        text-transform: uppercase;
    }
    
    &__box-views {
        display: flex;
        align-items: center;

        font-size: 1.6rem;
        font-weight: 400;
        color: #828BBD;

        img {
            width: 1.6rem;
            height: 1.1rem;
            margin-right: 1rem;
        }
    
    }
    
    &__box-title {
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 0.7rem;
        line-height: 1.4;
    
    }
    
    &__box-subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        color: #5E5E5E;
        margin-bottom: 2rem;
    width: 90%;
    
    }
    
    &__box-link {
        display: flex;
        align-items: center;

        span {
            font-size: 1.8rem;
            font-weight: 500;
            background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-right: 0.7rem;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            transition: 0.4s;
        }

        &:hover {
            img {
                transform: translateX(0.5rem);
            }
        }
    }


    &.page-about-confectioner {
        .article__box-sticker {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .article__box-views {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 0;
        }

        .article__box-views img {
            width: 1.4rem;
            height: 1.4rem;
            object-fit: contain;
            margin-right: 1rem;
        }

        .article__link span {
            font-weight: 600;
        }
    }
}





@media (max-width: 48em) { 

    .banner-main {
        height: 61.4rem;
        margin-bottom: 8rem;
    
        &__inner {
            height: 61.4rem;
            padding: 0 4rem;
        }
    
    
        &__search {
            width: 100%;
            height: 7rem;
            box-shadow: 0px 1rem 6rem rgba(0, 0, 0, 0.09);
            border-radius: 1rem;
            position: relative;
    
            input {
                padding: 0 5rem 0 2rem;
                font-size: 2.8rem;
            }
    
            button {
                width: 2.8rem;
                height: 2.8rem;
            }
        }
    }
    
    
    .base {
        position: relative;
        height: auto;

        .container {
            padding: 0;
        }
    
    
        &__inner {
            display: block;
        }
    
        &__text-block {
            width: 100%;
            padding-right: 0rem;
            padding: 0 4.8rem;
        }
    
        &__title-wrap {
            margin-bottom: 1.4rem;
        }
    
    
        &__title {
            font-size: 4rem;
        }
    
        &__title-img {
            border-radius: 3rem 3rem 3rem 0;
    
            width: 4rem;
            height: 4rem;
    
            img {
                width: 3rem;
                height: 3rem;
            }
        }
    
        &__description {
            font-size: 2.8rem;
            line-height: 1.42;
        }

        &__slider-block {
            width: 100%;
            padding: 0;
            box-shadow: none;
            background: #ffffff;
        }
    
        &__slider {
            width: 100%;
            position: static;
            padding: 2.4rem 4.8rem 5.6rem 4.8rem;
        }
    
        &__slider-wrapper {
            position: relative;
            margin-bottom: 0rem;
        }
    
        &__slide {
            border-radius: 1.2rem;
            padding: 2.4rem 2.4rem 4rem 2.4rem;
            width: 100%;
            margin-right: 0;
            box-shadow: rgb(28 40 105 / 10%) 0px 0rem 4rem;
    
            &>img {
                height: 31.2rem;
                margin-bottom: 2rem;
            }
        }
    
        &__slide-rating {
            margin-bottom: 0.2rem;
    
            img {
                width: 2.6rem;
                height: 2.6rem;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    
        &__slide-title {
            font-size: 3.4rem;
            margin-bottom: 1.5rem;
        }
    
        &__slide-subtitle {
            font-size: 2.4rem;
            line-height: 1.33;
        }
    
        &__arrow-next {
            display: none;
        }
    
    
        &__btn {
            border-radius: 8.8rem;
            width: 45.2rem;
            height: 9rem;
            margin: 0 auto 0 auto;
    
            span {
                font-size: 2.8rem;
                margin-right: 1rem;
            }
    
            img {
                width: 3rem;
                height: 2rem;
            }
    
            &::after {
                width: 80%;
            }
        }
    }
    
    
    recipies {
        margin-bottom: 7.5rem;
    
    
        &__title {
            font-size: 4rem;
            margin-bottom: 3.6rem;
        }
    
        &__content {
            display: flex;
            flex-direction: column;
        }
    
        &__column {}
    
        &__box {
            padding: 4.6rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 2.4rem;

            &>img {
                border-radius: inherit;
            }
    
    
            &.one {
                width: 100%;
                height: 38.6rem;
                margin-right: 0rem;
                margin-bottom: 4rem;
                padding: 2.5rem 4.2rem;
            }
    
            &.two {
                width: 100%;
                height: 38.6rem;
                margin-right: 0rem;
                margin-bottom: 4rem;
                padding: 2.5rem 4.2rem;
            }
    
            &.three {
                width: 100%;
                height: 38.6rem;
                margin-right: 0rem;
                margin-bottom: 4rem;
                padding: 2.5rem 4.2rem;
            }
    
            &.four {
                width: 100%;
                height: 38.6rem;
                margin-right: 0rem;
                margin-bottom: 0rem;
                padding: 2.5rem 4.2rem;
            }
    
            &::before {
                border-radius: inherit;
            }
        }
    
        &__box-title {
            font-size: 4rem;
            color: #62698F;
        }
    
        &__btn {
            width: 25rem;
            height: 8rem;
            border-radius: 8.8rem;
    
            span {
                font-size: 2.4rem;
            }
    
            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
    
    
    .vacancies {
        margin-bottom: 10rem;
    
        &__title-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;
        }
    
        &__title {
            font-size: 4rem;
            font-weight: 500;
            color: #000000;
        }
    
        &__link {

            &.desctop {
                display: none;
            }

            &.mobile {
                display: flex;
                justify-content: center;
            }
    
            font-size: 3.2rem;
            margin: 0 auto;
    
            img {
                width: 3rem;
                height: 2rem;
            }
        }
    
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 0rem;
            row-gap: 2.6rem;
            margin-bottom: 6.6rem;
        }
    
        &__box {
            border-radius: 1.4rem;
            padding: 1rem 2rem 4rem 2rem;
    
            &>img {
                height: 37.8rem;
                margin-bottom: 1.6rem;
            }
        }
    
        &__box-author-wrap {
            margin-bottom: 2.8rem;
        }
    
        &__box-author {
            font-size: 2.4rem;
        }
    
        &__box-location-wrap {
            font-size: 2.4rem;
    
            img {
                width: 2.8rem;
                height: 2.8rem;
            }
        }
    
        &__box-title {
            font-size: 3.2rem;
            margin-bottom: 1rem;
        }
    
        &__box-description {
            font-size: 2.4rem;
            margin-bottom: 2.8rem;
        }
    
        &__box-link {
            margin: 0 auto;
    
            font-size: 2.8rem;
            border-radius: 4.4rem;
            padding: 1.5rem;
    
            &.btn--more-link {
                width: 45.4rem;
                padding: 1rem;
                height: 8rem;
                border-radius: 8.8rem;
    
                &::before {
                    inset: 2px;
                    border-radius: 8.8rem;
                }
    
                &::after {
                    width: 80%;
                }
    
                span {
                    font-size: 2.8rem;
                    margin-right: 1rem;
                }
    
                img {
                    width: 3rem;
                    height: 2rem;
                }
    
                &:hover {
                    box-shadow: 0px 10px 23px rgba(150, 146, 144, 0.15);
    
                    &::before {
                        opacity: 0;
                    }
    
                    span {
                        font-size: 2.8rem;
                    }
    
                    img {
                        &.hover {
                            display: block;
                            width: 3rem;
                            height: 2rem;
                        }
    
                        &.static {
                            display: none;
                        }
                    }
    
                    &::after {
                        opacity: 1;
                    }
                }
            }
    
        }
    }
    
    
    .courses {
        margin-bottom: 16.5rem;
        
        &__inner {
            display: flex;
            flex-direction: column;
            margin-bottom: 6.8rem;
        }
        
        &__left-block {
            margin-right: 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;
    
            .courses__img-block {
                height: 51.6rem;
                margin-bottom: 4rem;
            }
        }
        
        &__text-block {
            margin-bottom: 3rem;
        }
        
        &__title-wrap {
            margin-bottom: 3rem;
            
            img {
                width: 4rem;
                height: 4rem;
            }
        }
        
        &__title {
            font-size: 4rem;
        }
        
        &__description {
            font-size: 2.8rem;
            width: 100%;
            line-height: 1.3;
        }
        
        &__img-block {
            border-radius: 1.2rem;
            padding: 9.6rem 3rem;
        }
        
        &__sticker {
            border-radius: 0.2rem;
            font-size: 2.4rem;
            padding: 0.3rem 2rem 0.3rem 3.2rem;
    
            position: absolute;
            top: 3rem;
            right: 3rem;
        }
    
        &__box-title {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        
        &__box-link {
            font-size: 2.8rem;
    
            img {
                width: 3rem;
                height: 2rem;
            }
        }
        
        &__right-block {
            width: 100%;
            padding-top: 0rem;
    
            .courses__img-block {
    
                &:nth-child(1) {
                    height: 44rem;
                    margin-bottom: 4rem;
                }
    
                &:nth-child(2) {
                    height: 44rem;
                }
            }
        }
    
        &__btn {
            border-radius: 8.8rem;
    
            width: 45.7rem;
            height: 9rem;
    
            font-size: 2.8rem;
    
            img {
                width: 3rem;
                height: 2rem;
            }
    
            &::after {
                width: 80%;
            }
        }
    }
    
    
    .article {
        margin-bottom: 9.2rem;
        
        &__title-wrap {
            margin-bottom: 4.6rem;
        }
        
        &__title {
            font-size: 4rem;
        }
        
        &__link {

            &.desctop {
                display: none;
            }

            &.mobile {
                display: flex;
                justify-content: center;
            }

            margin: 0 auto;
            width: 45.4rem;
            height: 9rem;
            position: relative;
            padding: 1rem;
            border-radius: 8.8rem;
            background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);

            &::before {
                content: "";
                position: absolute;
                inset: 2px;
                background: #fff;
                border-radius: 4.4rem;
                transition: 0.6s;
            }
    
            span {
                font-size: 2.8rem;
                position: relative;
                z-index: 2;
            }
    
            img {
                width: 3rem;
                height: 2rem;
                position: relative;
                z-index: 2;
            }
        }
        
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 8rem;
            margin-bottom: 10.8rem;
        }
        
        &__box {
    
            &>img {
                height: 34.2rem;
                margin-bottom: 2rem;
                border-radius: 1.4rem;
            }
    
    
            &:nth-child(2) {
                &>img {
                    height: 34.2rem;
                }
            }
        }
        
        &__box-info-wrap {
            margin-bottom: 2rem;
        }
        
        &__box-sticker {
            border-radius: 0.4rem;
            padding: 0.3rem 1.2rem;
            font-size: 2.8rem;
        }
        
        &__box-views {
            font-size: 2.4rem;
    
            img {
                width: 3rem;
                height: 2rem;
            }
        
        }
        
        &__box-title {
            font-size: 3.2rem;
            margin-bottom: 1.8rem;
        
        }
        
        &__box-subtitle {
            font-size: 2.4rem;
            line-height: 1.66;
            color: #5E5E5E;
        }
        
        &__box-link {
    
            span {
                font-size: 3.2rem;
                margin-right: 1.4rem;
            }
    
            img {
                width: 3rem;
                height: 2rem;
            }
        }
    }
}