.header {
    margin-bottom: 3.9rem;
    position: relative;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.8rem 0 2.1rem 0;
    }

    &__logo {
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #FF007A;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }

    &__nav {
        padding-right: 12rem;

        ul {
            display: flex;
            align-items: center;

            li {
                font-size: 1.4rem;
                font-weight: 400;
                color: rgba(48, 48, 48, 1);

                &:not(:last-child) {
                    margin-right: 4.8rem;
                }

                // &:hover {
                //     &::before {
                //         content: "";
                //         width: 100%;
                //         height: 0.4rem;
                //         background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                //         border-radius: 0px 0px 0.7rem 0.7rem;

                //         position: absolute;
                //         top: 0;
                //         left: 0;
                //     }
                // }
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__favorites {
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        margin-right: 1.4rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        span {
            width: 1.36rem;
            height: 1.36rem;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);

            font-size: 1.2rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);

            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -30%);
            z-index: 1;
        }
    }

    &__profile {
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(236, 239, 252, 1);

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
        }
    }

    &__log-in {
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #FF007A;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-right: 1.1rem;
    }

    &__reg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14rem;
        height: 3.7rem;

        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
        border-radius: 4.4rem;

        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }
}


.profile {

    &__inner {
        display: flex;
    }

    &__info {
        width: 25.2rem;
        padding: 2.5rem 0 3rem 1.3rem;
        background: #FAFBFC;
        border-radius: 1.2rem;
        margin-right: 2.8rem;
    }

    &__name-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        padding-left: 1.8rem;

        img {
            width: 1.74rem;
            height: 1.74rem;
            object-fit: contain;
            flex-shrink: 0;
        }

        &.right {
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    &__name {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        position: relative;
        margin-right: 0.67rem;
    }

    .menu-item-open {
        display: flex;
        align-items: center;

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            margin-right: 1.4rem;
        }
    }

    &__tablinks {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        padding: 1.6rem 1.5rem 1.1rem 1.5rem;
        cursor: pointer;
        position: relative;

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            margin-right: 1.4rem;
        }

        &.active {
            background: #FFFFFF;
            box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
            border-radius: 0.4rem 0px 0px 0.4rem;

            &::after {
                content: "";
                width: 0.3rem;
                height: 100%;
                background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                border-radius: 0.7rem 0px 0 0.7rem;

                position: absolute;
                top: 0;
                right: 0;
            }
        }

        &.submenu.active {
            display: block;

            background: transparent;
            box-shadow: none;
            border-radius: none;
            padding: 0;

            &::after {
                content: none;
            }

            .menu-item-open {
                background: #FFFFFF;
                box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
                border-radius: 0.4rem 0px 0px 0.4rem;
                padding: 1.6rem 1.5rem;

                &::after {
                    content: "";
                    width: 0.3rem;
                    height: 5.2rem;
                    background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                    border-radius: 0.7rem 0px 0 0.7rem;

                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .profile__tablinks-submenu {
                display: block;
                padding: 1.4rem 1.4rem 1.8rem 6.2rem;

                li {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: rgba(94, 94, 94, 1);

                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }

    &__tablinks-submenu {
        display: none;
    }

    &__content {
        background: #FFFFFF;
        box-shadow: 0px 0.4rem 2.4rem rgba(28, 40, 105, 0.1);
        border-radius: 0.8rem;
        padding-top: 2.8rem;
        width: 92.4rem;
    }


    &__my-profile {
        display: none;
    }

    &__personal {
        display: flex;
        margin-bottom: 4rem;
    }

    &__personal-left {
        padding-left: 2.2rem;
        width: 33.3rem;
        margin-right: 2.8rem;
    }

    &__personal-img {
        width: 100%;
        height: 23.7rem;
        border-radius: 0.9rem;
        margin-bottom: 2.58rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &__stars-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 1.3rem;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-right: 2rem;

        img {
            width: 1.9rem;
            height: 1.9rem;
            object-fit: contain;

            &:not(:last-child) {
                margin-right: 0.6rem;
            }
        }
    }

    &__rate-value {
        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
    }

    &__rate-key {
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba(141, 141, 141, 1);

        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }

        &:last-child {
            margin-bottom: 2.7rem;
        }
    }

    &__personal-social {
        display: flex;
        align-items: center;
        padding-left: 1.2rem;

        a {
            &:not(:last-child) {
                margin-right: 3.5rem;
            }

            img {
                width: 2rem;
                height: 2rem;
                object-fit: contain;
            }
        }
    }


    &__personal-right {
        width: 49rem;
    }

    &__name-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__edit {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-right: 0.95rem;
        position: relative;
        padding-bottom: 0.7rem;
        border-bottom: 0.1rem solid linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            margin-left: 0.5rem;
        }
    }

    &__location {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: rgba(130, 139, 189, 1);
        margin-bottom: 1.3rem;

        img {
            width: 1.9rem;
            height: 1.9rem;
            object-fit: contain;
            margin-right: 0.3rem;
        }
    }

    &__description {
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba(94, 94, 94, 1);
        line-height: 1.45;
        letter-spacing: 0.18px;
        width: 44.9rem;
        padding-bottom: 1.7rem;
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
        margin-bottom: 2.3rem;
    }

    &__description-items {
        padding-bottom: 2.7rem;
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
        margin-bottom: 2.5rem;
        padding-left: 0.3rem;
        width: 44.9rem;

        ul {
            li {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 500;
                color: rgba(94, 94, 94, 1);

                &:not(:last-child) {
                    margin-bottom: 2.3rem;
                }

                img {
                    width: 1.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    margin-right: 1.6rem;
                }
            }
        }
    }

    &__price-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        padding-bottom: 3.4rem;
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
        width: 44.9rem;
    }

    &__price-key {
        font-size: 1.4rem;
        font-weight: 400;
        color: rgba(94, 94, 94, 1);
        margin-bottom: 0.5rem;
    }

    &__price-value {
        font-size: 2.5rem;
        font-weight: 500;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__portfolio {
        margin-bottom: 16rem;
    }

    &__portfolio-title {
        font-size: 2.3rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        padding-left: 2.6rem;
        margin-bottom: 3rem;
    }

    &__portfolio-slider {
        overflow: hidden;
        position: relative;
    }

    &__portfolio-slide {
        height: 24rem;
        position: relative;
        padding: 1.8rem 1.6rem;
        transition: 0.4s;
        overflow: hidden;
        cursor: pointer;
        display: flex;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transition: 0.4s;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.28);

            .profile__portfolio-slide-text {
                opacity: 1;
            }

            img {
                transform: scale(1.07);
            }
        }
    }

    &__portfolio-slide-text {
        margin-top: auto;
        opacity: 0;
        transition: 0.4s;
    }

    &__portfolio-cake-name {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 0.6rem;
    }

    &__portfolio-cake-price {
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    &__wrapper {
        padding: 2.8rem 2.2rem;
    }

    .slider-arrow-next {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        right: 5rem;
        z-index: 100;
        transform: translateY(-50%);
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .slider-arrow-prev {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        left: 5rem;
        z-index: 100;
        transform: translateY(-50%);
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
