.header {
    margin-bottom: 3.9rem;
    position: relative;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: 1.8rem 0 2.1rem 0;
        height: 8rem;
    }

    &__logo {
        // font-size: 1.4rem;
        // font-weight: 500;
        // background-color: #FF007A;
        // background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-clip: text;
        // text-transform: uppercase;
        width: 9.7rem;
        height: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__nav {
        // padding-right: 12rem;
        display: flex;
        height: 100%;

        ul {
            display: flex;
            align-items: center;

            li {
                font-size: 1.4rem;
                font-weight: 400;
                color: rgba(48, 48, 48, 1);
                display: flex;
                height: 100%;
                align-items: center;
                position: relative;

                &:not(:last-child) {
                    margin-right: 4.8rem;
                }

                &.active {
                    &::before {
                        content: "";
                        width: 100%;
                        height: 0.4rem;
                        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                        border-radius: 0px 0px 0.7rem 0.7rem;

                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__favorites {
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        margin-right: 1.4rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        span {
            width: 1.36rem;
            height: 1.36rem;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);

            font-size: 1.1rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);

            position: absolute;
            top: 0;
            right: 0;
            transform: translate(30%, -10%);
            z-index: 1;
        }
    }

    &__profile {
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(236, 239, 252, 1);

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
        }
    }

    &__log-in {
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #FF007A;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-right: 1.1rem;
    }

    &__reg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14rem;
        height: 3.7rem;

        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        box-shadow: 0px 1rem 2.3rem rgba(150, 146, 144, 0.15);
        border-radius: 4.4rem;

        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }
}


.profile {
    margin-bottom: 10rem;

    &__inner {
        display: flex;
    }

    &__info {
        width: 25.2rem;
        padding: 2.5rem 0 3rem 1.3rem;
        background: #FAFBFC;
        border-radius: 1.2rem;
        margin-right: 2.8rem;
        height: 48.8rem;

    }

    &__name-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        padding-left: 1.8rem;

        img {
            width: 1.74rem;
            height: 1.74rem;
            object-fit: contain;
            flex-shrink: 0;
        }

        &.right {
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    &__name {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        position: relative;
        margin-right: 0.67rem;
    }

    .menu-item-open {
        display: flex;
        align-items: center;

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            margin-right: 1.4rem;
        }
    }

    &__tablinks {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        padding: 1.6rem 1.5rem 1.1rem 1.5rem;
        cursor: pointer;
        position: relative;

        .icon {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            margin-right: 1.4rem;
        }

        &.active {
            background: #FFFFFF;
            box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
            border-radius: 0.4rem 0px 0px 0.4rem;

            &::after {
                content: "";
                width: 0.3rem;
                height: 100%;
                background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                border-radius: 0.7rem 0px 0 0.7rem;

                position: absolute;
                top: 0;
                right: 0;
            }
        }

        &.submenu.active {
            display: block;

            background: transparent;
            box-shadow: none;
            border-radius: none;
            padding: 0;

            &::after {
                content: none;
            }

            .menu-item-open {
                background: #FFFFFF;
                box-shadow: 0px -0.1rem 3.4rem rgba(0, 0, 0, 0.07);
                border-radius: 0.4rem 0px 0px 0.4rem;
                padding: 1.6rem 1.5rem;

                &::after {
                    content: "";
                    width: 0.3rem;
                    height: 5.2rem;
                    background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                    border-radius: 0.7rem 0px 0 0.7rem;

                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .profile__tablinks-submenu {
                display: block;
                padding: 1.4rem 1.4rem 1.8rem 6.2rem;

                li {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: rgba(94, 94, 94, 1);

                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }

    &__tablinks-submenu {
        display: none;
    }

    &__content {
        width: 92.4rem;
    }

    &__content-inner {
        display: none;

        &.my-profile {
            background: #FFFFFF;
            box-shadow: 0px 0.4rem 2.4rem rgba(28, 40, 105, 0.1);
            border-radius: 0.8rem;
            padding-top: 2.8rem;
        }
    }

    &__personal {
        display: flex;
        margin-bottom: 4rem;
    }

    &__personal-left {
        padding-left: 2.2rem;
        width: 33.3rem;
        margin-right: 2.8rem;
    }

    &__personal-img {
        width: 100%;
        height: 23.7rem;
        border-radius: 0.9rem;
        margin-bottom: 2.58rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &__stars-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 1.3rem;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-right: 2.5rem;

        // img {
        //     width: 1.9rem;
        //     height: 1.9rem;
        //     object-fit: contain;

        //     &:not(:last-child) {
        //         margin-right: 0.6rem;
        //     }
        // }

        img {
            width: 11.2rem;
            height: 1.9rem;
            object-fit: contain;

            // &:not(:last-child) {
            //     margin-right: 0.6rem;
            // }
        }
    }

    &__rate-value {
        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
    }

    &__rate-key {
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba(141, 141, 141, 1);

        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }

        &:last-child {
            margin-bottom: 2.7rem;
        }
    }

    &__personal-social {
        display: flex;
        align-items: center;
        padding-left: 1.2rem;

        a {
            &:not(:last-child) {
                margin-right: 3.5rem;
            }

            img {
                width: 2rem;
                height: 2rem;
                object-fit: contain;
            }
        }
    }


    &__personal-right {
        width: 49rem;
    }

    &__name-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__edit {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-right: 0.95rem;
        position: relative;
        padding-bottom: 0.7rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            margin-left: 0.5rem;
        }

        &:before {
            content: "";
            width: 0;
            height: 0.1rem;
            background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);

            position: absolute;
            left: 0;
            bottom: 0;
            transition: 0.3s;
        }

        &:hover {
            &:before {
                content: "";
                width: 100%;
            }
        }
    }

    &__location {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: rgba(130, 139, 189, 1);
        margin-bottom: 1.3rem;

        img {
            width: 1.9rem;
            height: 1.9rem;
            object-fit: contain;
            margin-right: 0.3rem;
        }
    }

    &__description {
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba(94, 94, 94, 1);
        line-height: 1.45;
        letter-spacing: 0.18px;
        width: 44.9rem;
        padding-bottom: 1.7rem;
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
        margin-bottom: 2.3rem;
    }

    &__description-items {
        padding-bottom: 2.7rem;
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
        margin-bottom: 2.5rem;
        padding-left: 0.3rem;
        width: 44.9rem;

        ul {
            li {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 500;
                color: rgba(94, 94, 94, 1);

                &:not(:last-child) {
                    margin-bottom: 2.3rem;
                }

                img {
                    width: 1.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    margin-right: 1.6rem;
                }
            }
        }
    }

    &__price-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        padding-bottom: 3.4rem;
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
        width: 44.9rem;
    }

    &__price-key {
        font-size: 1.4rem;
        font-weight: 400;
        color: rgba(94, 94, 94, 1);
        margin-bottom: 0.5rem;
    }

    &__price-value {
        font-size: 2.5rem;
        font-weight: 500;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__portfolio {
        margin-bottom: 16rem;
    }

    &__portfolio-title {
        font-size: 2.3rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        padding-left: 2.6rem;
        margin-bottom: 3rem;
    }

    &__portfolio-slider {
        overflow: hidden;
        position: relative;
    }

    &__portfolio-slide {
        height: 24rem;
        position: relative;
        padding: 1.8rem 1.6rem;
        transition: 0.4s;
        overflow: hidden;
        cursor: pointer;
        display: flex;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transition: 0.4s;
        }

        @media (min-width: 48em) {
            &:hover {
                background: rgba(0, 0, 0, 0.28);

                .profile__portfolio-slide-text {
                    opacity: 1;
                }

                img {
                    transform: scale(1.07);
                }
            }
        }
    }

    &__portfolio-slide-text {
        margin-top: auto;
        opacity: 0;
        transition: 0.4s;
    }

    &__portfolio-cake-name {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 0.6rem;
    }

    &__portfolio-cake-price {
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    &__wrapper {
        padding: 2.8rem 2.2rem;
    }

    .slider-arrow-next {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        z-index: 100;
        transform: translateY(-50%);
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .slider-arrow-prev {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        left: 2rem;
        z-index: 100;
        transform: translateY(-50%);
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}


.footer {
    padding-top: 5.1rem;
    box-shadow: 0.8rem -0.2rem 4.8rem rgba(0, 0, 0, 0.03);

    &__inner {}

    &__top {
        display: flex;
        margin-bottom: 8.65rem;

    }

    &__logo {
        width: 14.5rem;
        height: 2rem;
        margin-right: 5.8rem;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }

    &__info-wrap {
        display: flex;

    }

    &__info-block {
        margin-right: 6rem;
        font-size: 1.4rem;
        font-weight: 500;

        a {
            color: #0A142F;
            display: block;
            transition: 0.4s;

            &:hover {
                color: rgba(255, 0, 122, 1);
            }

            &:not(:last-child) {
                margin-bottom: 2.9rem;
            }
        }
    }

    &__nav-block {
        margin-right: 6.4rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #0A142F;

        ul {
            li {
                transition: 0.4s;
            }

            li:hover {
                color: rgba(255, 0, 122, 1);
            }

            li:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

    }

    &__social {
        display: flex;
        align-items: center;
        align-self: start;

        a {
            width: 3.3rem;
            height: 3.3rem;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 2.2rem;
                width: 2.2rem;
                object-fit: contain;
                fill: #585858;
                transition: 0.4s;
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:hover {
                svg {
                    fill: rgba(255, 0, 122, 1);
                }
            }
        }

    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4.9rem;
    }

    &__small {
        font-size: 1.4rem;
        font-weight: 500;
        color: #0A142F;
        opacity: 0.65;

        span {
            text-transform: uppercase;
        }
    }

    &__up {
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 50%;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);

        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        bottom: 10rem;
        right: 10rem;
        z-index: 10;

        transition: background-color .3s,
            opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;

        img {
            width: 1.2rem;
            height: 1.5rem;
            object-fit: contain;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }

}


.order {
    padding: 0;

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        color: #000000;
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        width: max-content;
        transition: 0.3s;
    }

    &__select-title {
        font-size: 1.4rem;
        font-weight: 500;
        color: #5E5E5E;
        margin-right: 0.7rem;
        white-space: nowrap;
        transition: 0.3s;

    }

    .dropdown {
        width: min-content;
        min-width: 10rem;
        transition: 0.3s;


        img {
            right: -1rem;
        }
    }

    .dropdown .select {
        font-size: 1.4rem;
        font-weight: 500;
        color: #5E5E5E;
        padding: 1rem 1.5rem;
        box-shadow: none;
        border-radius: 0;
        width: max-content;
        transition: 0.3s;
    }

    .dropdown .dropdown-menu {
        min-width: 15rem;
        left: auto;
        right: 0;
    }

    &__items {
        margin-bottom: 4rem;
    }

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 0.4rem 2.4rem rgba(28, 40, 105, 0.1);
        border-radius: 0.8rem;
        padding: 1.9rem 3.4rem 2.2rem 2.4rem;

        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }
    }

    &__item-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.1rem;
    }

    &__item-number {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000;
    }

    &__item-status {
        display: flex;
        align-items: center;
    }

    &__item-status-key {
        font-size: 1.4rem;
        font-weight: 500;
        color: #5E5E5E;
        margin-right: 1rem;
    }

    &__item-status-value {
        font-size: 1.4rem;
        font-weight: 500;

        &.done {
            color: #00CD39;
        }

        &.in-work {
            color: #FF3131;
        }
    }

    &__item-content {
        display: flex;
    }

    &__info {
        width: 66.5rem;
    }

    &__photo {
        width: 11.5rem;
        height: 11.5rem;
        border-radius: 1.1rem;
        margin-right: 3.2rem;
        flex-shrink: 0;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &__name-confect {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 2.4rem;
    }

    &__description-wrap {
        padding: 1.8rem 0 2rem 0;
        border-top: 0.1rem solid rgba(130, 139, 189, 0.38);
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
        margin-bottom: 2rem;
    }

    &__description-title {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 0.7rem;
    }

    &__description {
        font-size: 1.4rem;
        font-weight: 500;
        color: #5E5E5E;
        line-height: 1.42;
    }

    &__about-info {
        display: flex;
    }

    &__about-item {

        &:not(:last-child) {
            margin-right: 6.9rem;
        }
    }

    &__about-item-key {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 0.7rem;
    }

    &__about-item-value {
        font-size: 1.4rem;
        font-weight: 500;
        color: #5E5E5E;
    }
}



.messages {
    padding: 0;

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.7rem;
        width: 41.3rem;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        color: #000000;
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        width: max-content;
        transition: 0.3s;
    }

    &__select-title {
        font-size: 1.4rem;
        font-weight: 400;
        color: #5E5E5E;
        margin-right: 0.4rem;
        white-space: nowrap;
        transition: 0.3s;

    }

    .dropdown {
        width: min-content;
        min-width: 10rem;
        transition: 0.3s;


        img {
            right: -1rem;
        }
    }

    .dropdown .select {
        font-size: 1.4rem;
        font-weight: 400;
        color: #5E5E5E;
        padding: 0 0.5rem;
        box-shadow: none;
        border-radius: 0;
        width: max-content;
        transition: 0.3s;
    }

    .dropdown .dropdown-menu {
        left: -2rem;
        top: 2rem;

        &::-webkit-scrollbar {
            width: 0.3rem;
            background: #E8E8E8;
            border-radius: 2.1rem;
        }

        &::-webkit-scrollbar-thumb {
            background: #818BBD;
            border-radius: 2.1rem;
        }

        // для firefox
        scrollbar-color: #818BBD rgba(232, 232, 232, 1);
        /* «цвет ползунка» «цвет полосы скроллбара» */
        scrollbar-width: thin;
        /* толщина */
    }

    &__chat {
        height: 59rem;
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 0px 2.4rem rgba(0, 0, 0, 0.08);
        border-radius: 0.8rem;
    }

    &__chat-left-block {
        width: 41.3rem;
        flex-shrink: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: 0.8rem 0 0 0.8rem;
        display: flex;
        flex-direction: column;
        height: auto;

        // &::-webkit-scrollbar {
        //     width: 0.6rem;
        //     background: #E8E8E8;
        //     border-radius: 2.1rem;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background: #818BBD;
        //     border-radius: 2.1rem;
        // }

        // // для firefox
        // scrollbar-color: #818BBD rgba(232, 232, 232, 1);
        // /* «цвет ползунка» «цвет полосы скроллбара» */
        // scrollbar-width: thin;
        // /* толщина */
        &::-webkit-scrollbar {
            width: 0rem;
            background: #E8E8E8;
        }

        &::-webkit-scrollbar-thumb {
            background: #ffffff;
        }

        // для firefox
        scrollbar-color: #ffffff;
        /* «цвет ползунка» «цвет полосы скроллбара» */
        scrollbar-width: 0;
        /* толщина */
    }

    &__chat-item {
        display: flex;
        padding: 1.8rem 1.3rem 1.5rem 2.5rem;
        border-radius: inherit 0 0 0 0;

        &.active {
            background: rgba(70, 82, 148, 0.11);
        }

        &:not(:first-child) {
            border-top: 1px solid rgba(130, 139, 189, 0.38);
        }

    }

    &__chat-item-user {
        width: 7.3rem;
        height: 7.3rem;
        border-radius: 50%;
        margin-right: 1.3rem;
        flex-shrink: 0;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &__text {
        padding-right: 1rem;
    }

    &__chat-item-title {
        font-size: 1.6rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 1.3rem;

    }

    &__chat-item-subtitle {
        font-size: 1.4rem;
        font-weight: 400;
        color: #5E5E5E;

    }

    &__chat-item-date {
        font-size: 1.4rem;
        font-weight: 400;
        color: #828BBD;
        white-space: nowrap;
    }



    &__chat-right-block {
        border-left: 0.1rem solid rgba(130, 139, 189, 0.38);
        height: auto;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    &__chat-top {
        padding: 1.3rem 2rem 1.3rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1rem solid rgba(130, 139, 189, 0.38);
    }

    &__user-about {
        display: flex;
    }

    &__user-img {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        margin-right: 1.3rem;

        img {
            height: 100%;
            width: 100%;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    &__user-info {}

    &__user-name-wrap {
        display: flex;
        align-items: center;
    }

    &__user-name {
        font-size: 1.6rem;
        font-weight: 500;
        color: #000000;
        margin-right: 1rem;

        img {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
        }
    }

    &__user-status {
        font-size: 1.4rem;
        font-weight: 400;
        color: #828BBD;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__order-btn {
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        border-radius: 4.5rem;
        padding: 1rem 3.5rem 1rem 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.6rem;
        font-weight: 500;
        color: #FFFFFF;
        margin-right: 1.8rem;
    }

    &__tooltip {
        position: relative;
    }

    &__tooltip-img {
        width: 0.4rem;
        height: 2rem;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__tooltip-list {
        height: 0;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;

        position: absolute;
        top: 4rem;
        right: 0;
        z-index: 10;

        box-shadow: -1rem 0.5rem 3rem rgba(0, 0, 0, 0.07);
        background: #ffffff;
        padding: 2rem;
        border-radius: 8px;

        li {
            font-size: 1.8rem;
            color: #828BBD;
            opacity: 0;
            cursor: pointer;
            transition: 0.3s;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &:hover {
                text-shadow: 0 1px rgba(0, 0, 0, 0.2);
            }
        }

        &.active {
            height: auto;
            opacity: 1;
            pointer-events: auto;

            li {
                opacity: 1;
            }
        }

    }



    &__chat-window {
        height: 46rem;
        padding: 0rem 0rem 0rem 2.3rem;

        display: flex;
        flex-direction: column;
        justify-content: end;
        overflow: hidden;
        border-radius: inherit;
    }

    &__chat-window-scroll {
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 2rem;
        
        // &::-webkit-scrollbar {
        //     width: 0.6rem;
        //     background: #E8E8E8;
        //     border-radius: 2.1rem;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background: #818BBD;
        //     border-radius: 2.1rem;
        // }

        // // для firefox
        // scrollbar-color: #818BBD rgba(232, 232, 232, 1);
        // /* «цвет ползунка» «цвет полосы скроллбара» */
        // scrollbar-width: thin;
        // /* толщина */
        &::-webkit-scrollbar {
            width: 0rem;
            background: #E8E8E8;
        }

        &::-webkit-scrollbar-thumb {
            background: #ffffff;
        }

        // для firefox
        scrollbar-color: #ffffff;
        /* «цвет ползунка» «цвет полосы скроллбара» */
        scrollbar-width: 0;
        /* толщина */
    }

    &__chat-msg {
        display: flex;
        justify-self: end;
        margin-bottom: 3rem;

        &:first-child {
            padding-top: 2rem;
        }
    }

    &__msg-user-photo {
        width: 4.9rem;
        height: 4.9rem;
        border-radius: 50%;
        margin-right: 1rem;
        flex-shrink: 0;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &__msg-text-wrap {
        padding-right: 3rem;
    }

    &__msg-text-author {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 0.6rem;
    }

    &__msg-text {
        font-size: 1.4rem;
        line-height: 1.3;
        font-weight: 400;
        color: #5E5E5E;
    }

    &__msg-date {
        font-size: 1.4rem;
        font-weight: 400;
        color: #828BBD;
        margin-left: auto;
    }
    
    &__chat-area {
        display: flex;
        align-items: center;
        border: 1px solid rgba(130, 139, 189, 0.38);
        border-left: none;
        border-radius: 0 0 0.8rem 0;
    }
    
    &__chat-area-inner {
        padding: 1.4rem 2rem 1.4rem 1.4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__chat-area-label {
        width: 2rem;
        height: 2rem;
        margin-right: 1.8rem;
        position: relative;
        z-index: 20;
        cursor: pointer;


        display: flex;
        align-items: center;
        justify-content: center;

        span {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .input-file {
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0;
            font-size: 0;
            opacity: 0;
            cursor: pointer;
        }
    
    }
    
    &__chat-area-entry {
        width: auto;
        height: 3rem;
        flex-grow: 1;
        padding-top: 1rem;
        font-size: 1.4rem;
        color: #B3B3B3;
        resize: none;

        &::-webkit-scrollbar {
            width: 0rem;
            background: #E8E8E8;
        }

        &::-webkit-scrollbar-thumb {
            background: #ffffff;
        }

        // для firefox
        scrollbar-color: #ffffff;
        /* «цвет ползунка» «цвет полосы скроллбара» */
        scrollbar-width: 0;
        /* толщина */
    
    }
    
    &__chat-area-submit {
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 2.2rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
}


.edit-profile {
    width: 60.2rem;
}


.edit-info {
    padding: 3.3rem 5.4rem 4.5rem 5.4rem;

    
    &__ava {
        width: 13.5rem;
        height: 13.5rem;
        border-radius: 50%;
        margin: 0 auto 3.5rem auto;
        background: rgba(130, 139, 189, 0.38);
        position: relative;
        overflow: hidden;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__btn {
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 2.5rem 1rem;

        img {
            width: 3.3rem;
            height: 3.3rem;
            object-fit: contain;
            margin: 0 auto 0.6rem auto;
        }

        input {
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            font-size: 0;
            opacity: 0;
        }

        span {
            font-size: 1.4rem;
            font-weight: 400;
            color: #FFFFFF;
            text-align: center;
        }
    }
    
    &__file-preview {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        opacity: 0;
        z-index: -2;
        transition: 0.4s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }

        &.active {
            opacity: 1;
            z-index: 10;
        }
    }
    
    &__selectes-wrap {
        display: grid;
        grid-template-columns: 21.6rem 21.6rem;
        column-gap: 7.2rem;
        row-gap: 2.6rem;
        margin-bottom: 2.7rem;
    }
    
    &__form-item {
    
    }
    
    &__form-item-title {
        font-size: 1.8rem;
        font-weight: 500;
        color: #000000;
        margin-bottom: 1rem;
    }
    
    &__form-input {
        background: #FFFFFF;
        border: 1px solid #ADADAD;
        border-radius: 0.9rem;
        padding: 2rem 1.3rem;
        width: 100%;

        font-size: 1.6rem;
        font-weight: 400;
        color: #808080;
    }

    .dropdown {
        .select {
            border: 1px solid #ADADAD;
            box-shadow: none;
            border-radius: 0.9rem;
            padding: 2rem 1.3rem;
        }
    }
   
    .input-search {
    }
    .dropdown-menu {
    }
    
    &__item {
    
    }
    
    &__item-title {
    
    }
    
    &__bottom {
        margin-top: 4.4rem;
        display: flex;
        flex-direction: column;
    }
    
    &__btn {
    
    }
    
}
