.filter-block {
    background: #FFFFFF;
    box-shadow: 0px 0.4rem 2.8rem rgba(36, 64, 117, 0.06);
    border-radius: 0.9rem;
    padding: 2rem 3rem 5rem 3.3rem;
    height: max-content;

    &__title {
        font-size: 2.4rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        margin-bottom: 2.7rem;
    }

    &__filtes {
        margin-bottom: 4rem;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 2.9rem;
        }
    }

    &__item-title {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 2rem;

        &.select-title {
            margin-bottom: 1rem;
        }
    }

    &__radiobutton {
        display: flex;
        align-items: center;

        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(94, 94, 94, 1);
        cursor: pointer;

        input {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;

            &:checked + .radiobutton-style::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
                transform: translate(-50%, -50%);
                visibility: visible;
            }
        }

        .radiobutton-style {
            position: relative;
            margin-right: 1.4rem;
            padding-left: 1.5rem;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                border: 2px solid #FF007A;
            }
        }

        &:not(:last-child) {
            margin-bottom: 1.8rem;
        }
    }

    &__btn {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    &__btn-reset {
        display: flex;
        align-items: center;
        margin: 0 auto;

        span {
            font-size: 1.6rem;
            font-weight: 500;
            color: rgba(130, 130, 130, 1);
            border-bottom: 0.1rem solid rgba(130, 130, 130, 1);
            margin-right: 1rem;
        }

        img {
            width: 1.1rem;
            height: 1.1rem;
            object-fit: contain;
        }
    }

    &__range {
        margin-bottom: 1.2rem;
        margin-top: 3.5rem;
    }

    .ui-slider-handle {
        width: 15px;
        height: 15px;
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
    } 

    .ui-slider-horizontal .ui-slider-handle {
        top: -0.7rem;
        margin-left: -0.2rem;
    }

    .ui-state-active,
    .ui-state-focus {
        border: 1px solid #FF007A;
    }

    .ui-slider {
        height: 0.2rem;
        background-color: #D9D9D9;
    }

    .ui-slider-range {
        background: linear-gradient(92.85deg, #FF8A00 -43.75%, #FF007A 106.98%);
        height: 0.3rem;
        bottom: -0.2rem;
        top: auto;
    }

    &__range-values {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 1.6rem;
        font-weight: 400;
        color: #5E5E5E;
    }
}


@media (max-width: 48em) {

    .filter-block {
        border-radius: 1.8rem;
        padding: 5rem 10rem 9.4rem 6.5rem;
    
        &__title {
            font-size: 2.8rem;
            margin-bottom: 7.5rem;
        }
    
        &__filtes {
            margin-bottom: 6rem;
        }
    
        &__item {
    
            &:not(:last-child) {
                margin-bottom: 5.6rem;
            }
        }
    
        &__item-title {
            font-size: 2.8rem;
            margin-bottom: 8.4rem;
    
            &.select-title {
                margin-bottom: 4.8rem;
            }
        }
    
        &__radiobutton {
            font-size: 2.8rem;
    
            input {
                &:checked + .radiobutton-style::after {
                    width: 2rem;
                    height: 2rem;
                }
            }
    
            .radiobutton-style {
                margin-right: 2rem;
                padding-left: 4rem;
    
                &::before {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                }
            }

            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }
    
        &__btn {
            width: 100%;
            margin-bottom: 3rem;

            &.btn.btn--color {
                font-size: 2.8rem;
                height: 10rem;
                border-radius: 8.8rem;
            }
        }
    
        &__btn-reset {
            display: flex;
            align-items: center;
            margin: 0 auto;
    
            span {
                font-size: 2.8rem;
                margin-right: 2rem;
            }
    
            img {
                width: 2rem;
                height: 2rem;
            }
        }
        &__range {
            margin-bottom: 3.5rem;
            margin-top: 3.5rem;
        }

        &__range-values {
            font-size: 2.8rem;
        }

        .ui-slider-handle {
            width: 3rem;
            height: 3rem;
        } 
    
        .ui-slider-horizontal .ui-slider-handle {
            top: -1.5rem;
            margin-left: -0.6em;
        }
    
        .ui-slider {
            height: 0.4rem;
            background-color: #D9D9D9;
        }
    
        .ui-slider-range {
            height: 0.4rem;
        }
    }
}